body {
  background-color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}
.App {
  text-align: center;
}
.default-button{
  color: #FFF;
  margin: 0 10px 0 10px;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 2px;
  border-color: #000;
  background-color: #008CBA;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  
}
.button-delete{
  background-color: #ef493e;
  color: #fff;
  font-size: 15px;
  border: none;
  margin: 4px;
  height: 30px;
  width: 30px;
}
.button-minus{
  background-color: #4DBDEB;
  color: #fff;
  font-size: 15px;
  border: none;
  margin: 4px;
  height: 30px;
  width: 30px;
}
.button-plus{
  background-color: #36C467;
  color: #fff;
  font-size: 15px;
  border: none;
  margin: 4px;
  height: 30px;
  width: 30px;
}
.button-caret-down{
  color: #0424D9;
  font-size: 25px;
  border: none;
  margin: 3px 0 0 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.button-create-list{
  color: #5E4890;
  font-size: 35px;
  border: none;
  margin: 3px 0 0 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.link{
  color: #fff;
  margin: 0 15px 0 15px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 3px;
}
p{
  margin: 10px;
}

.text-input {
  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  padding: 5px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  color: #223254;
}

.option-select{
  height: 30px;
  border-radius: 0;
  width: 180px;
}
option{
  padding: 20px;
  font-size: 40px;
}
