.admin-link-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.link {
    text-decoration: none;
}
.admin-card{
    display: grid;
    grid-template-columns: 5fr 5fr 1.5fr;
    box-shadow: -5px 10px 21px #00000018;
    margin: 5px;
    height: 40px;
}
.admin-card-category{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    box-shadow: -5px 10px 21px #00000018;
    margin: 5px;
    height: 40px;
}
.admin-card-item{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1.5fr;
    box-shadow: -5px 10px 21px #00000018;
    margin: 5px;
    height: 40px;
}
.name{
    margin-left: 15px;
    font-weight: bold;
}