.user-inventory-list-table-heading{
    display: grid;
    grid-template-columns: .3fr .6fr .8fr .5fr .25fr .25fr .3fr  ;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.inventory-header{
    margin: 5px;
}
.user-inventory-item-card{
    display: grid;
    grid-template-columns: 5.5fr 3fr 1fr;
    box-shadow: -5px 10px 21px #00000018;
    margin: 5px;
    height: 40px;
}
.card-container{
    display: flex;
    flex-direction: row;
}
.card-row-1{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}
.card-row-2{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr ;
}
.inventory-header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5px;
}
.inventory-h2{
    margin: 0;
}
.lists-dropdown-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}
.lists-dropdown{
    width: 220px;
    width: 16.5%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-left: 38.5%;
}
.lists-item{
    background-color: #E4E4E4;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    padding: 2px 2px 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lists-item:hover{
    background-color: #F1F1F1;
}
.new-list-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
}
.new-list-label{
    font-size: 20px;
}
.inventory-list-header-container{
    display: flex;
    justify-content: center;
}
.sort-icon{
    margin-top: 7px;
    cursor: pointer;
    margin-left: 5px;
}
.row-main-text{
    font-weight: bold;
    font-size: 18px;
}
.span-label{
    display: none
}

@media(max-width : 450px) {
    .user-inventory-list-table-heading{
        display: flex;
        justify-content: space-evenly;
    }
    .inventory-header{
        font-size: 12px;
    }
    .sort-icon{
        margin-left: 1px;
        font-size: 12px;
    }
    .inventory-header{
        margin-right: 1px;
    }
    .action-header{
        display: none;
    }
    .size-header{
        display: none;
    }
    .lists-dropdown{
        width: 70vw;
        margin-left: 10%;
    }
    .user-inventory-item-card{
        height: 130px;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        width: 98vw;
    }
    .card-row-1 {
        display: flex;
        height: 25px;
        justify-content: space-evenly;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .card-row-2 {
        display: flex;
        height: 25px;
        justify-content: space-evenly;
        margin: 0px;
    }
    .buttons-row {
        margin-top: 25px;
        display: flex;
        justify-content: space-evenly;
    }
    p{
        margin: 0;
    }
    .span-label{
        display: block;
    }
}
