.input-container-wrapper{
    display: flex;
    justify-content: space-between;
}
.add-inventory-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.create-inventory-wrapper{
    padding: 5px 10px 10px 10px;
    margin-top: 50px;
    width: 80vw;
    box-shadow: -5px 15px 25px #00000018;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.create-inventory-input-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.add-inventory-wrapper{
    padding: 5px 10px 10px 10px;
    margin: 15px;
    width: 90vw;
    box-shadow: -5px 15px 25px #00000018;
}
.link-wrapper{
    display: flex;
    flex-direction: column;
}
.add-inventory-header{
    margin: 0 0 5px 0;
}
.create-inventory-header{
    margin: 0 0 15px 0;
}
.add-inventory-row-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 3px 10px 3px;
}
.add-inventory-input-wrapper{
    margin: 0 10px 0 10px;
}
.add-inventory-row-wrapper-bottom{
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.create-inventory-input-wrapper{
    margin: 0 10px 0 10px;
}
.number-input{
    width: 50px;
    height: 18px;
}
.add-name{
    width: 150px;
    height: 90%;
    border: 1px solid black;
    border-radius: 5px;
}
.navigate-to-create-text{
    font-size: 14px;
    margin: 0 0 0 10px;
    color: rgb(1, 105, 139);
}
.navigate-to-create-link{
    font-size: 14px;
    margin: 0 0 15px 0;
    cursor: pointer;
    color: rgb(1, 105, 139);
}
.navigate-to-create-link:hover{
    color: rgb(2, 148, 197);
}


@media(max-width : 800px) {
    .add-inventory-input-wrapper{
        margin: 0 2px 0 2px;
    }
}

@media(max-width : 450px) {
    .input-container-wrapper {
        flex-direction: column;
    }
    .create-inventory-wrapper{
        width: 90vw;
    }
    .create-inventory-input-wrapper{
        flex-direction: column;
    }
    .add-inventory-wrapper{
        width: 90vw;
    }
    .add-inventory-row-wrapper{
        flex-direction: column;
        margin: 10px 3px 0px 3px;
    }
    .add-inventory-row-wrapper-bottom button{
        margin-top: 15px;
    }
    .add-inventory-row-wrapper-bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bottom-inputs-wrapper{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .navigate-to-create-link{
        margin-bottom: 5px;
    }
    .number-input{
        width: 160px;
    }
    .create-button{
        margin: 20px;
    }
}